
*{
  margin: 0px;
  padding: 0px;
}

.header{
  background-color: #60b580;
  z-index: 1;

}
h1{
  top: 100%;
  color: #A66659;
  background-color: #53babf;
  display: inline-block;
  text-align: left;
  padding: 10px;
  z-index: 2;
}

.hover-icon {
  transition: transform 0.3s ease; /* Smooth transition */
}

.hover-icon:hover {
  transform: scale(1.2); /* Increase size to 120% */
}

.subhead{
  opacity:0;
  transition: opacity 500ms ease-in-out;
  text-align: center;
  text-size-adjust: 50px;
}
.subhead:hover{
  opacity: 1;
}
body{
  background-color:#85F5AF;
  z-index: 2;
}
.body2{

  margin: 0; /* Remove default margin */
  padding: 10px; /* Optional: Add padding inside the border */
  font-size: 22px;
}

.image-container {
  position: relative;
  display: inline-block; /* Or use a specific width/height */
}

.image-container img {
  display: block;
  width: 100%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
  padding: 10px;
}

.text-overlay {
  top: 50%; /* Adjust positioning as needed */
  left: 50%; /* Adjust positioning as needed */
  color: white; /* Adjust text color */
  background-color: rgba(0, 0, 0, 0.5); /* Optional background for better readability */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Optional rounded corners */
  text-align: left; /* Center text */
}
